.h1{
text-align:center;
font-family:Lucida sans;
color:Black;
background-size:contain;
font-size: bold;
padding-left:5px;
}
.h2{
  text-align:Center;
  font-family:Gill Sans;
  font-size: 14px;

  Box-sizing:}

.mc{
object-fit:contain;
margin-left:100px;
border-radius:30px;
}

.main{
  font-size:bold;
  margin-left:10px; 
  font-size:50px;
  color:yellow;
  font-family:italic;

}
.course{
  font-size:bold;
  color:black;
  font-size:20px;
   }
  
  .apetizers{
    object-fit:contain;
    margin-right:100px;
    margin-top:0;

  }
  
  

.Apy{
  Text-align:right;
  font-size:50px;
  color:orange;
  font-family:italic;
}
.list{
  color:black;
  text-align:right;
  list-style-type: none;
  font-size:bold;
  font-size:20px;

}
.Des{
  text-align:left;
  font-size:50px;
  color:yellowgreen;
  font-family:italic;
}
.sweet{
  text-align:left;
  list-style-type: none;
  font-size:bold;
  color:black;
  font-size:20px;

}

.beverages{
  margin-right:100px;
}
.Bev{
  text-align:right;
  color:red;
  font-size:50px;
  font-family:italic;

}
.Drinks{
  text-align:right;
  list-style-type: none;
  font-size:bold;
  color:black;
  font-size:20px; }

  .footer{
    text-align:center;
  }
    
  }


@media only screen and(max-width:414px){
.phonetext{
  visibility:collapse}
  }